<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>InternalApp</title>
  <link rel="stylesheet" media="all" href="/top.scss">
  <%= stylesheet_link_tag 'top' %>
</head>
<body>
  <header class="header">
    <p class="site-title-sub">駐車場運営を見直すきっかけに</p>
    <h1 class="site-title">Parking OnTech</h1>
  </header>
  <section class="about">
  </section>
  <section class="skills">
  </section>
  <section class="contact">
  </section>
  <footer class="footer">
  </footer>
</body>
</html>