<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>InternalApp</title>
  <link rel="stylesheet" media="all" href="/top.scss">
  <%= stylesheet_link_tag 'top' %>
</head>
<body>
  <header class="header">
    <div class="header-wrapper">
      <div class="header-box">
        <h1 class="site-title">Parking OnTech</h1>
        <p class="site-description">OnTechの契約見直しサービスは、<br>駐車場のオーナー様向けの<br>収益改善無料お見積りサイトです。</p>
        <a class="button" href="/posts/new">申し込みフォーム</a>
      </div>
      <div class="header-box">
        <%= image_tag 'top_image.png', class: 'header-image' %>
      </div>
    </div>
  </header>
  <section class="about" id="about">
    <h2 class="heading">ABOUT<h2>
    <p class="about-text">
      このサイトは駐車場の運営を見直したいお客様より,土地情報を査定フォームから入力していただき,<br>
      入力された顧客管理データを,権限を持ったユーザーが管理できる社内管理ツールです。
　　</p>
  </section>
  <section class="skills">
    <h2 clss="heading">SKILLS</h2>
    <div class="skills-wrapper">
      <div class="skill-box">
        <div class="skill-title">RubyonRails</div>
        <p class="skill-text">
            バックエンド言語はRuby(v2.6.3)<br>
            FWはRails(v5.2.3)を使用しました。
        <p>
  </section>
  <section class="contact">
  </section>
  <footer class="footer">
  </footer>
</body>
</html>